/www/vendor/
/www/node_modules/
/www/npm-debug.log
/www/yarn-error.log

# Laravel 5 & Lumen specific
/www//public/storage
/www/public/hot

# Laravel 5 & Lumen specific with changed public path
/www/public_html/storage
/www/public_html/hot

/www/storage/*.key
/www/Homestead.yaml
/www/Homestead.json
/www/.vagrant
/www/.phpunit.result.cache
